<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#asfNavbar"
            aria-controls="asfNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="logo">
            <img src="lib/img/logo.png" alt="">
        </div>
        <div class="collapse navbar-collapse" id="asfNavbar">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-class="{active: current == 'home'}">
                    <a href="#home" class="nav-link" ng-click="current='home'">Home</a>
                </li>
                <li class="nav-item" ng-class="{active: current == 'segment'}">
                    <a href="#segment" class="nav-link" ng-click="current='segment'">Segment</a>
                </li>
                <li class="nav-item" ng-class="{active: current == 'guestbook'}">
                    <a href="#guestbook" class="nav-link" ng-click="current='guestbook'">Guestbook</a>
                </li>

            </ul>


        </div>
    </nav>

    <div class="social-media">
        <a href="http://www.facebook.com" target="_blank">
            <div class="hexagon bg-dark-gray">
                <i class="fab fa-facebook"></i>
            </div>
        </a>
        <a href="http://www.twitter.com" target="_blank">
            <div class="hexagon bg-dark-gray">
                <i class="fab fa-twitter"></i>

            </div>
        </a>
        <a href="http://www.google.com" target="_blank">
            <div class="hexagon bg-dark-gray">
                <i class="fab fa-google"></i>

            </div>
        </a>
        <a href="http://www.linkedin.com" target="_blank">
            <div class="hexagon bg-dark-gray">
                <i class="fab fa-linkedin-in"></i>

            </div>
        </a>
        <a href="http://www.github.com" target="_blank">
            <div class="hexagon bg-dark-gray">
                <i class="fab fa-github-alt"></i>

            </div>
        </a>
    </div>
</header>