<div class="segment">

    <h2>Segment</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="hexagon bigger bg-green">
                    <img src="lib/img/notebook.png" alt="">

                </div>
                <h3>Marketing Slot</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, ut nostrum? Fuga quaerat
                    dolorum
                    cum.</p>

            </div>
            <div class="col-md-4">
                <div class="hexagon bigger bg-dark-gray">
                    <img src="lib/img/notebook.png" alt="">

                </div>
                <h3>Marketing Slot</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

            </div>
            <div class="col-md-4">
                <div class="hexagon bigger bg-pink">
                    <img src="lib/img/notebook.png" alt="">

                </div>
                <h3>Marketing Slot</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quam est architecto cumque dicta.</p>

            </div>
        </div>
    </div>
    <div class="bg-lighter-gray">
        <div class="container ">
            <div class="row ">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body bg-light-gray">
                            <ul class="list-unstyled text-left custom-list">
                                <li>Web Design</li>
                                <li>UI Design</li>
                                <li>Graphic Design</li>
                                <li>Branding</li>
                                <li>Corporate Identity</li>
                                <li>Mobile App Design</li>
                                <li>Poster Desgin</li>
                            </ul>
                            <button class="btn">Button</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body bg-light-gray">
                            <ul class="list-unstyled text-left custom-list">

                                <li>Marketing Title
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </li>
                                <li>Marketing Title
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </li>
                                <li>Marketing Title
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </li>

                            </ul>
                            <button class="btn">Button</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body bg-light-gray">
                            <ul class="list-unstyled text-left custom-list">
                                <li>Marketing Title</li>
                                <li>Marketing Title</li>
                            </ul>
                            <button class="btn">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>