<footer>
 
    <p>
        <span>© {{ year | date:'yyyy'}}, PRAGMANILASOLUTIONS INCORPORATED</span>
        <span>
            <a href="#">HOME</a>
            <a href="#">SERVICES</a>
            <a href="#">CONTACT</a>
        </span>
    </p>
</footer>
