footer{
    background: var(--dark-gray);
}
footer p, footer a{
    margin: 0;
    padding: 2rem;
    color: var(--gray)!important;
    font-weight: bold;
}
footer p span:last-child{
    float: right;
}