.guestbook {
  background: var(--gray);
}
.guestbook h2 {
  text-align: center;
  color: var(--lighter-gray);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.guestbook .row .col-md-6 .wrapper {
  background: var(--dark-gray);
  height: 400px;
  padding: 2rem;
  padding-bottom: 4rem;
}
.guestbook .row .col-md-6 .wrapper .hint {
  color: var(--light-gray);
}
.guestbook .row .col-md-6 .wrapper textarea {
  resize: none;
}
.guestbook .row .col-md-6 .wrapper button {
  position: absolute;
  bottom: 1rem;
  width: 100px;
  right: 0;
  left: 0;
  margin: auto;
  font-weight: 900;
  text-transform: uppercase;

  background: var(--green);
}

.guestbook .row .col-md-6:last-child .wrapper {
  overflow: scroll;
  padding-bottom: 2rem;
}
.guestbook .row .col-md-6:last-child .wrapper .messages {
  height: 100%;
  overflow: scroll;
}
.guestbook .row .col-md-6:last-child .wrapper .message {
  background: var(--lighter-gray);
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.guestbook .row .col-md-6:last-child .wrapper .message p:first-child {
  margin-bottom: 0.3rem;
}
.guestbook .row .col-md-6:last-child .wrapper .message p span.name {
  font-weight: bold;
}
.guestbook .row .col-md-6:last-child .wrapper .message p span.date {
  float: right;
}
