header .navbar {
  background-color: var(--gray);
  box-shadow: 0px 3px 5px 0px var(--darker-gray);

  padding: 20px 45px;
  height: 92px;
}
header .navbar .nav-item > a {
  color: var(--darker-gray);
  text-transform: uppercase;
  font-weight: bold;
}
header .navbar .nav-item.active > a {
  color: whitesmoke;
}
header .navbar .logo {
  position: absolute;
  top: 92px;
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -55px);
}
header .navbar .logo img {
  height: 150px;
}
header .social-media {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 45px;
}
header .social-media i {
  color: var(--gray);
  font-size: 23px;
  height: 80px;
  position: absolute;
  margin: auto;
  left: 22%;
  /* filter: invert(100%); */
  right: 0;
}
@media (max-width: 992px){
    .navbar-nav{
        width: max-content;
        background: var(--gray);
        padding: 2rem   ;
    }

}