.home {
  z-index: -1;
  position: relative;
  background-color: var(--red);
  text-align: center;
  /* padding: 8rem 15rem 3rem 15rem; */
  padding-top: 8rem;
  padding-bottom: 3rem;
}
.home::after {
  bottom: -50px;
  z-index: -2;
  background: inherit;

  position: absolute;
  content: "";
  pointer-events: none;
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.home > .container > h1,
.home > .container > h2,
.home > .container > a {
  text-transform: uppercase;
}
.home > .container > h2 {
  color: whitesmoke;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.home > .container > h1 {
  color: var(--lighter-gray);
  text-shadow: 0px 2px 3px black;
  -webkit-transform: scale(1, 1.3);
  -moz-transform: scale(1, 1.3);
  -ms-transform: scale(1, 1.3);
  -o-transform: scale(1, 1.3);
  transform: scale(1, 1.3);
  margin-bottom: 3rem;
}
.home > .container > p {
  margin-bottom: 3rem;
  text-align: left;
  color: rgb(255, 239, 239);
  line-height: 1.7rem;
}
.home > .container > a {
  background: var(--green);
  color: white;
  padding: 0.75rem 1rem;
  box-shadow: 0px 2px 9px black, 0px 3px 0px black;
}
