
.segment {
  text-align: center;
}
.segment .row:last-child {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.segment > h2 {
  color: var(--light-gray);
  text-transform: uppercase;

  margin-top: 8rem;
  margin-bottom: 3rem;
}
.segment h3 {
  margin-bottom: 2rem;
}
.segment img {
  height: 80px;
  position: absolute;
  margin: auto;
  left: 0;
  filter: invert(100%);
  right: 0;
}
.segment .card > .card-body {
  border-radius: 0;
  height: 500px;
}
.segment .col-md-4:nth-child(1) .card > .card-body {
  border-top: 2px solid var(--green);
}
.segment .col-md-4:nth-child(2) .card > .card-body {
  border-top: 2px solid var(--gray);
}
.segment .col-md-4:nth-child(3) .card > .card-body {
  border-top: 2px solid var(--pink);
}

.segment ul.custom-list li {
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 1px solid rgb(175, 175, 175);
}
.segment ul.custom-list li > p {
  font-weight: normal;
  text-transform: initial;
  color: gray;
  margin-bottom: 0;
}
.segment ul.custom-list li:before {
  content: "✓";
  font-weight: 900;
  color: var(--green);
  padding-right: 6px;
}
.segment button {
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100px;
  font-weight: 700;
}

.segment .col-md-4:nth-child(1) .card > .card-body button {
  background: var(--green);
}
.segment .col-md-4:nth-child(2) .card > .card-body button {
  color: white;
  background: var(--gray);
}
.segment .col-md-4:nth-child(3) .card > .card-body button {
  background: var(--pink);
}
