body {
  margin: 0;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hexagon {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 23.09px;
  margin: 11.55px 5px;
  text-align: initial;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 11.55px solid;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid;
}
.hexagon.bigger {
  width: 150px;
  height: 86.6px;
  margin: 43.3px 0;
}
.hexagon.bigger:before,
.hexagon.bigger:after {
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.hexagon.bigger:before {
  border-bottom: 43.4px solid;
}
.hexagon.bigger:after {
  border-top: 43.4px solid;
}

.bg-gray {
  background-color: var(--gray);
}
.bg-dark-gray {
  background-color: var(--dark-gray);
}
.hexagon.bg-dark-gray:after {
  border-top-color: var(--dark-gray);
}
.hexagon.bg-dark-gray:before {
  border-bottom-color: var(--dark-gray);
}

.bg-green {
  background-color: var(--green);
}
.hexagon.bg-green:after {
  border-top-color: var(--green);
}
.hexagon.bg-green:before {
  border-bottom-color: var(--green);
}
.bg-pink {
  background-color: var(--pink);
}
.hexagon.bg-pink:after {
  border-top-color: var(--pink);
}
.hexagon.bg-pink:before {
  border-bottom-color: var(--pink);
}

.bg-lighter-gray {
  background-color: var(--lighter-gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.page-padding {
  padding-left: 15rem;
  padding-right: 15rem;
}
