:root {
  --gray: rgb(66, 66, 66);
  --light-gray: rgb(202, 202, 202);
  --lighter-gray: rgb(226, 226, 226);
  --dark-gray: rgb(47, 47, 47);
  --darker-gray: rgb(9, 9, 9);
  --red: rgb(167, 15, 12);
  --green: rgb(1, 177, 105);
  --pink: rgb(232, 76, 61);
  
}
