<div class="guestbook py-4">
    <div class="container">
        <h2>GuestBook</h2>

        <div class="row pt-2">
            <div class="col-md-6">
                <div class="wrapper">
                    <form name="gbForm">
                        <input name="name" type="text" class="form-control mb-4" placeholder="Name"
                            ng-model="newMessage.name" required>
                        <input name="subject" type="text" class="form-control mb-4" placeholder="Subject"
                            ng-model="newMessage.subject" required>
                        <textarea name="body" rows="5" class="form-control" placeholder="Message"
                            ng-model="newMessage.body" required></textarea>

                    </form>
                    <p class="hint">
                        {{ gbForm.name.$valid && gbForm.subject.$valid && gbForm.body.$valid ? "You can sent your message now :)" : "Please fill all fields" }}
                    </p>
                    <button ng-disabled="!gbForm.name.$valid || !gbForm.subject.$valid || !gbForm.body.$valid" class="btn" ng-click="save(newMessage)">Send</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrapper">
                    <div class="messages">
                        <div ng-repeat="message in messages" class="message">
                            <p><span class="name">{{ message.name }}</span> <span
                                    class="date">{{ message.date | date : 'M/d/yy - H:mm:ss' }}
                                </span></p>
                            <p class="body">
                                {{ message.subject }}
                                <br>
                                {{message.body}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>