<div class="home triangles">
    <div class="container">
        <h2>Pragmanila Solutions Markup Test</h2>
        <h1>You should build this <br>simple, logical, & straightforward</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus possimus quisquam quae hic, quidem
            molestias
            nesciunt. Cupiditate porro rem consequuntur quaerat debitis quo repellendus voluptas, architecto atque nisi
            quisquam esse id ipsa reprehenderit minima praesentium cum quibusdam deserunt quos provident blanditiis
            necessitatibus recusandae? Nisi untur atque ducimus aliquid autem id?</p>
        <a class="btn" href="#">Learn More</a>
    </div>
</div>